.container {
  width: 98%;
  margin: 0 auto;
}
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.app__pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;

  &-item {
    margin-right: 20px;
  }
}

.app__pagination-link--current {
  color: rgb(0, 255, 68);
}

.app__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-item {
    margin-bottom: 40px;
  }
}

.movie-card__duration--hidden {
  display: none;
}
.btn {
  border: none;
  background: none;
}
.app__btn-search {
  color: #fff;
  padding: 10px 40px;
  background: #000;
}
